

#question_box.question {
    display: flex;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: flex-end;
    color: blue;
    font-size: 50px
    ;
}
    
#answer_buttons.button.row {

    justify-content: center;
    display: flex;

}





#timer {

    display: flex;
    align-content: space-between;
    justify-content: space-around;
    padding: 30px;
    font-size: 30px;
    color: blue;

}
